body {
	background-color: var(--daytime-backdrop)!important;
	color: #555;
	-webkit-tap-highlight-color: transparent;
	-moz-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
}

.content {
	max-width: 50rem;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	background-color: var(--daytime-backdrop);
}




#header {
	background-color: var(--header);
}

#header .suggest {
	color: azure;
}

#header .suggest .webname {
	color: var(--header-suggest-webname);
}

#header .suggest .say {
	color: var(--header-suggest-say);
}

#header .meun_list::selection {
	background-color: var(--daytime-major);
}

#header .meun_list::-webkit-scrollbar-thumb {
	background-color: var(--daytime-major);
}

#header .meunbar {
	border-bottom: 1px solid var(--header-meunbar);
}

#header .summary .nickname a:hover,
#header .meun_list .meun_li a:hover,
#header .search_btn:hover,
.index_list .name a:hover,
.index_list .information a:hover,
#footer a:hover,
#header .suggest .webname a:hover,
.post_picture_information a:hover,
.post_headline_information span a:hover,
.tool_bar .tool_night a:hover {
	color: var(--daytime-major);
}

#header .text {
	color: var(--header-text);
}




.index_list {
	background-color: var(--daytime-backdrop);
	border-top: 1px solid #EAEAEA;
}

.index_list .name {
	color: var(--index_list-name);
}

.index_list .introduce {
	color: var(--index_list-introduce);
}

.index_list .information {
	color: var(--index_list-information);
}

.index_list_right .index_list_unique img {
	border: 1px solid var(--index_list_unique-img);
}

.index_list .introduce_album_img img {
	border: 1px solid var(--introduce_album_img-img);
}

.unique_basic {
	background: linear-gradient(135deg, #000 0%, #fff 100%);
}

.unique_basic i {
	color: var(--daytime-major);
}

.introduce_album_basic {
	background: linear-gradient(135deg, #000 0%, #fff 100%);
}




.paging .total,
.paging .number a {
	color: var(--daytime-backdrop);
	background-color: var(--daytime-major);
}

.paging_ajax_btn a {
	background-color: var(--daytime-major);
	border: 1px solid var(--daytime-line);
	color: var(--paging_ajax_btn-a);
}

.paging .number a:hover {
	background-color: var(--daytime-major)!important;
	color: var(--daytime-backdrop);
}

.paging_ajax_btn a:hover,
.page-navigator .commentslistnext:hover {
	background-color: var(--daytime-pass)!important;
}





.archives_right {
	color: var(--archives_right);
}

.posture_basic {
	background: linear-gradient(135deg, #000 0%, #fff 100%);
}

.card_word i {
	color: var(--daytime-major);
}

.card_introduce {
	color: var(--card_introduce)!important;
}

.card_information {
	color: var(--card_information)!important;
}





.nav-post a::before,
.nav-post a::after,
.nav-post .icon-wrap::before,
.nav-post .icon-wrap::after {
	background: var(--daytime-major);
}

.text-primary {
	color: var(--daytime-major);
}

.post_headline_information {
	border-bottom: 1px solid #e6e6e6;
}

.post_headline_information:after {
	background-color: var(--daytime-major);
}

.post_picture_basic_cont hr {
	background: var(--daytime-major);
}

.post_bottom .line {
	border-bottom: 1px solid var(--daytime-line);
}

.line:after {
	background-color: var(--daytime-major);
}




.douban_ul .active,
.links_ul .active {
	background-color: var(--daytime-pass);
}

.douban_ul,
.links_ul {
	background-color: var(--daytime-major);
	color: var(--daytime-backdrop);
}

.douban_ul li:hover,
.links_ul li:hover {
	background-color: var(--daytime-pass) !important;
}




.checkbox_tip {
	background-color: var(--daytime-major);
	color: #fff;
}

.checkbox_tip:after {
	border-top-color: var(--daytime-major);
}

.model-6 .checkbox input:checked+label {
	background: var(--daytime-major);
}

.model-6 .checkbox input:checked+label:after {
	background: var(--daytime-major);
}

#comment-form .comment-inputs input {
	background-color: #f8f8f8;
}

#comment-form textarea {
	background: #f8f8f8;
}

#comment-form .comment-buttons #submitComment {
	background: var(--daytime-major);
	color: #fff;
}

#comment-form .comment-buttons #submitComment:hover {
	background: var(--daytime-pass);
}




#footer {
	color: var(--footer);
}

::-webkit-scrollbar-thumb {
	background: var(--daytime-major);
}

/* 暗黑模式 */
.nice-dark-mode {
	background-color: var(--dark-backdrop) !important;
	color: #aaa;
}


.nice-dark-mode #header .suggest .webname {
	color: var(--dark-header-suggest-webname)
}

.nice-dark-mode #header .suggest .say {
	color: var(--dark-header-suggest-say)
}

.nice-dark-mode .content {
	box-shadow: 0 0 10px rgb(0 0 0 / 50%);
	background-color: var(--dark-backdrop) !important;
}

.nice-dark-mode #header .meun_list::-webkit-scrollbar-thumb {
	background: var(--dark-major);
	outline: 2px solid #212121;
}




.nice-dark-mode #header,
.nice-dark-mode .index_list,
.nice-dark-mode #footer,
.nice-dark-mode #header .search_input,
.nice-dark-mode .post,
.nice-dark-mode .overt,
.nice-dark-mode .post_bottom,
.nice-dark-mode .article-tabs .nav span.active,
.nice-dark-mode .OwO .OwO-logo {
	background-color: var(--dark-backdrop);
}

.nice-dark-mode #header .summary .nickname a:hover,
.nice-dark-mode #header .meun_list .meun_li a:hover,
.nice-dark-mode #header .search_btn:hover,
.nice-dark-mode .index_list .name a:hover,
.nice-dark-mode .index_list .information a:hover,
.nice-dark-mode #footer a:hover,
.nice-dark-mode #header .suggest .webname a:hover,
.nice-dark-mode .post_picture_information a:hover,
.nice-dark-mode .post_headline_information span a:hover,
.nice-dark-mode .tool_bar .tool_night a:hover {
	color: var(--dark-major);
}




.nice-dark-mode .index_list_right .index_list_unique img,
.nice-dark-mode .index_list .introduce_album_img img {
	border: 1px solid var(--dark-line);
}

.nice-dark-mode .index_list .name {
	color: var(--dark-index_list-name);
}

.nice-dark-mode .index_list .introduce {
	color: var(--dark-index_list-introduce);
}

.nice-dark-mode .index_list .information {
	color: var(--dark-index_list-information);
}

.nice-dark-mode .card_word i {
	color: var(--dark-major);
}

.nice-dark-mode .card_introduce,
.nice-dark-mode .card_information {
	color: var(--dark-major);
}





.nice-dark-mode .nav-post a::before,
.nice-dark-mode .nav-post a::after,
.nice-dark-mode .nav-post .icon-wrap::before,
.nice-dark-mode .nav-post .icon-wrap::after {
	background: var(--dark-major);
}

.nice-dark-mode .post_headline_information {
	border-bottom: 1px solid #e6e6e6;
}

.nice-dark-mode .post_headline_information:after {
	background-color: var(--dark-major);
}

.nice-dark-mode .post_picture_basic_cont hr {
	background: var(--dark-major);
}

.nice-dark-mode .text-primary {
	color: var(--dark-major);
}




.nice-dark-mode .paging .total,
.nice-dark-mode .paging .number a {
	color: var(--dark-backdrop);
	background-color: var(--dark-major);
}

.nice-dark-mode .paging_ajax_btn a {
	color: var(--dark-paging_ajax_btn-a);
	background-color: var(--dark-major);
	border: 1px solid var(--dark-line);
}

.nice-dark-mode .paging .number a:hover {
	background-color: var(--dark-major);
	color: var(--dark-backdrop);
}

.nice-dark-mode .paging_ajax_btn a:hover,
.nice-dark-mode .page-navigator .commentslistnext:hover {
	background-color: var(--dark-pass);
}





.nice-dark-mode #footer {
	color: var(--dark-footer);
}




.nice-dark-mode .douban_ul .active,
.nice-dark-mode .links_ul .active {
	background-color: var(--dark-pass)!important;
}

.nice-dark-mode .links_ul,
.nice-dark-mode .douban_ul {
	background-color: var(--dark-major);
}
.nice-dark-mode .douban_ul li,
.nice-dark-mode .links_ul li {
	color: var(--dark-backdrop) !important;
}
.nice-dark-mode .douban_ul li:hover,
.nice-dark-mode .links_ul li:hover {
	background-color: var(--dark-pass) !important;
}


.nice-dark-mode .line:after {
	background-color: var(--dark-major);
}


.nice-dark-mode .checkbox_tip {
	background-color: var(--dark-major);
	color: #000;
}

.nice-dark-mode .checkbox_tip:after {
	border-top-color: var(--dark-major);
}

.nice-dark-mode #comment-form .comment-buttons #submitComment {
	background: var(--dark-major);
	color: #000;
}

.nice-dark-mode #comment-form .comment-buttons #submitComment:hover {
	background: var(--dark-pass);
}

.nice-dark-mode #comment-form .comment-inputs input,
.nice-dark-mode #comment-form textarea {
	background-color: rgb(50 50 50);
	color: #aaa;
}


.nice-dark-mode .model-6 .checkbox input:checked+label {
	background: var(--dark-major);
}

.nice-dark-mode .model-6 .checkbox input:checked+label:after {
	background: var(--dark-major);
}

.nice-dark-mode #nprogress .bar {
	background: var(--dark-major);
}

.nice-dark-mode #nprogress .spinner-icon {
	border-top-color: var(--dark-major);
	border-left-color: var(--dark-major);
}

.nice-dark-mode .tool_bar .tool_night {
	color: #007fff;
}




.nice-dark-mode #mp-music-wrapper.open {
	background-color: var(--dark-backdrop);
}

.nice-dark-mode .current {
	color: var(--dark-major);
	background-color: #000;
}

.nice-dark-mode #mp-list li {
	color: var(--dark-major);
}

.nice-dark-mode #mp-list li:hover {
	color: rgb(236, 236, 236);
	background-color: rgb(20, 20, 20);
}

/* 颜色聚合区 */
:root {
	--daytime-major: #000;
	--daytime-pass: #232323;
	--daytime-line: #e7e7e7;
	--daytime-backdrop: #fff;
	--header: #fff;
	--header-suggest-webname: #7f7f7f;
	--header-suggest-say: #7f7f7f;
	--header-meunbar: #000;
	--header-text: #777;
	--index_list-name: #242424;
	--index_list-introduce: #242424;
	--index_list-information: #242424;
	--index_list_unique-img: #fff;
	/* 文章列表图片border */
	--introduce_album_img-img: #fff;
	/* 相册图片border */
	--paging_ajax_btn-a: #ffffff;
	/* 加载更多按钮 */

	--archives_right: #7f7f7f;
	--footer: #000;
	--card_introduce: #000;
	--card_information: #000;

	--dark-major: #fff;
	--dark-pass: #b2b2b2;
	--dark-backdrop: #292929;
	--dark-footer: #fff;
	--dark-header-suggest-webname: #ebebeb;
	--dark-header-suggest-say: #ebebeb;
	--dark-index_list-name: #ebebeb;
	--dark-index_list-introduce: #ebebeb;
	--dark-index_list-information: #ebebeb;
	--dark-paging_ajax_btn-a: #000000;
}

/* 文章样式 */

.post h2 {
	border-left: 3px solid var(--daytime-major);
	padding-left: 15px;
}

.nice-dark-mode .post h2 {
	border-left: 3px solid var(--dark-major);
}

.post h3:before {
	content: "";
	float: left;
	margin: 7px;
	padding: 2px;
	border-radius: 50%;
	border: 2px solid #000000;
}

.nice-dark-mode .post h3:before {
	border: 2px solid #fff;
}
